<!-- <form #updateUserForm="ngForm" style="position: absolute;left: 40%;top: 62%;height: 300px;width: 200px;">
    <input type="text" name="fullName" [(ngModel)]="user.fullName">
    <input type="email" name="email" [(ngModel)]="user.email">
    <button (click)="updateUser(updateUserForm)">Update</button>
</form> -->

<form style="position: absolute;left: 40%;top: 62%;height: 300px;width: 200px;"
            name="form"
            #updateForm="ngForm"
            >
            <div class="form-group">
              <input
              name="fullName"
              [(ngModel)]="user.fullName"
              type="text"
              placeholder="Enter Your fullName"
              #username="ngModel"
              class="form-control">
              <span class="form_icon">
                <i class="fa_icon form-user" aria-hidden="true"></i>
                </span>
            </div>
            <div class="form-group">
              <input
              name="email"
              [(ngModel)]="user.email"
              type="email"
              placeholder="Enter Email"
              #email="ngModel"
              class="form-control">
              <span class="form_icon">
						<i class="fa_icon form-lock" aria-hidden="true"></i>
						</span>
              </div>
              <a class="btn_ms" type="button">Update</a>
          </form>
