<div class="ms_header">
  <div class="ms_top_left">
    <div class="ms_top_search" style="height: 40px">
      <form>
      <a routerLink="/search"><span class="search_icon" style="position: absolute ; left: 80px ; right: 100px ; border-radius: 5px">
							<img src="assets/images/svg/search.svg" alt="" style="margin-left: 24px">
						</span></a>
      </form>
    </div>
    <div class="ms_top_trend">
      <span><a href="#"  class="ms_color">Trending Songs :</a></span> <span class="top_marquee"><a href="#">Dream your moments, Until I Met You, Gimme Some Courage, Dark Alley (+8 More)</a></span>
    </div>
  </div>
  <div class="ms_top_right">
    <div class="ms_top_lang">
      <span data-toggle="modal" data-target="#lang_modal">languages <img src="images/svg/lang.svg" alt=""></span>
    </div>
    <div class="ms_top_btn">
      <a href="javascript:;" class="ms_btn reg_btn" data-toggle="modal" data-target="#register"><span>Register</span></a>
      <a href="javascript:;" class="ms_btn login_btn" data-toggle="modal" data-target="#login"><span>Login</span></a>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="ms_register_popup">
  <!--  Regiser Modal-->
  <div id="register" class="modal  centered-modal" role="dialog">
    <div class="modal-dialog register_dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal">
          <i class="fa_icon form_close"></i>
        </button>
        <div class="modal-body">
          <div class="ms_register_img">
            <img src="assets/images/register_img.png" alt="" class="img-fluid" />
          </div>
          <div class="ms_register_form" >
            <h2>Register / Sign Up</h2>
             <!-- <form  #registryForm="ngForm" (ngSubmit)="registration(registryForm)">
            <div class="form-group">
              <input name="fullName" [(ngModel)]="user.fullName" type="text" placeholder="Enter Your Full Name" class="form-control">
              <span class="form_icon">
							<i class="fa_icon form-user" aria-hidden="true"></i>
							</span>
            </div>
            <div class="form-group">
               <input name="username" [(ngModel)]="user.username" type="text" placeholder="Enter Userame" class="form-control">
              <span class="form_icon">
							<i class="fa_icon form-user" aria-hidden="true"></i>
							</span>
            </div>
            <div class="form-group">
              <input name="password" [(ngModel)]="user.password" type="password" placeholder="Enter Password" class="form-control">
              <span class="form_icon">
						<i class="fa_icon form-lock" aria-hidden="true"></i>
						</span>
            </div>
            <div class="form-group">
              <input name="email" [(ngModel)]="user.email" type="text" placeholder="Enter Your Email" class="form-control">
              <span class="form_icon">
							<i class="fa_icon form-envelope" aria-hidden="true"></i>
						</span>
            </div>
            <div>
              <input  data-toggle="modal" class="ms_modal1 hideCurrentModel" type="submit" value="Register now" style="background-color: cornflowerblue;">
            <p>Already Have An Account? <a routerLink="/login" data-toggle="modal" class="ms_modal hideCurrentModel">login here</a></p>
          </div>
            </form>  -->
            <form
              *ngIf="!isSuccessful"
              name="form"
              (ngSubmit)="f.form.valid && registration(f)"
              #f="ngForm"
              novalidate>  
            <div class="form-group">
              <input 
              name="fullName"
              [(ngModel)]="user.fullName" 
              type="text"
              placeholder="Enter Your Full Name"
              #fullName="ngModel"
              class="form-control"/>
              <span class="form_icon">
							<i class="fa_icon form-user" aria-hidden="true"></i>
							</span>
            </div>
            <div class="form-group">
               <input
               name="username"
               [(ngModel)]="user.username"
               type="text"
               
               #username="ngModel"
               placeholder="Enter Userame"
               class="form-control">
              <span class="form_icon">
							<i class="fa_icon form-user" aria-hidden="true"></i>
							</span>
              <div class="alert-danger" *ngIf="f.submitted && username.invalid">
                <div *ngIf="username.errors.required">Username is required</div>
                <div *ngIf="username.errors.minlength">
                  Username must be at least 3 characters
                </div>
                <div *ngIf="username.errors.maxlength">
                  Username must be at most 20 characters
                </div>
              </div>
            </div>
            <div class="form-group">
              <input
              name="password"
              [(ngModel)]="user.password"
              type="password"
              placeholder="Enter Password"
              
              #password="ngModel"
              class="form-control">
              <span class="form_icon">
						<i class="fa_icon form-lock" aria-hidden="true"></i>
						</span>
            <div class="alert-danger" *ngIf="f.submitted && password.invalid">
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
            </div>
            <div class="form-group">
              <input
              name="email"
              [(ngModel)]="user.email"
              type="text"
              placeholder="Enter Your Email"
              name="email"
              
              #email="ngModel"
              class="form-control">
              <span class="form_icon">
							<i class="fa_icon form-envelope" aria-hidden="true"></i>
						</span>
            <div class="alert-danger" *ngIf="f.submitted && email.invalid">
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.email">
                Email must be a valid email address
              </div>
            </div>
            </div>
            <div>
              <input  data-toggle="modal" class="ms_modal1 hideCurrentModel" type="submit" value="Register now" style="background-color: cornflowerblue;">
            <p>Already Have An Account? <a routerLink="/login" data-toggle="modal" class="ms_modal hideCurrentModel">login here</a></p>
          </div>
          <div class="alert alert-warning" *ngIf="f.submitted && isRegistrationFailed">
            Signup failed!<br />{{ errorMessageRegistration }}
          </div>
            </form> 

            <div class="alert alert-success" *ngIf="isSuccessful">
              Your registration is successful!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!----Login Popup Start---->
  <div id="login" class="modal  centered-modal" role="dialog">
    <div class="modal-dialog login_dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal">
          <i class="fa_icon form_close"></i>
        </button>
        <div class="modal-body">
          <div class="ms_register_img">
            <img src="assets/images/register_img.png" alt="" class="img-fluid" />
          </div>
          <div class="ms_register_form">
            <h2>login / Sign in</h2>
           
          <form
            *ngIf="!isLoggedIn"
            name="form"
            (ngSubmit)="L.form.valid && login(L)"
            #L="ngForm"
            >
            <div class="form-group">
              <input
              name="username"
              [(ngModel)]="user.username"
              type="text"
              placeholder="Enter Your username"
              
              #username="ngModel"
              class="form-control">
              <span class="form_icon">
                <i class="fa_icon form-user" aria-hidden="true"></i>
                </span>
                <!-- <div class="alert-danger" *ngIf="L.submitted && username.invalid">
                  <div *ngIf="username.errors.required">Username is required</div>
                  <div *ngIf="username.errors.minlength">
                    Username must be at least 3 characters
                  </div>
                  <div *ngIf="username.errors.maxlength">
                    Username must be at most 20 characters
                  </div>
                </div> -->
            </div>
            <div class="form-group">
              <input
              name="password"
              [(ngModel)]="user.password"
              type="password"
              placeholder="Enter Password"
              
              #password="ngModel"
              class="form-control">
              <span class="form_icon">
						<i class="fa_icon form-lock" aria-hidden="true"></i>
						</span>
              <!-- <div
                class="alert alert-danger"
                role="alert"
                *ngIf="f.submitted && password.invalid"
                >
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.minlength">
                  Password must be at least 6 characters
                </div> -->
              <!-- </div> -->
            </div>
            <div class="remember_checkbox">
              <label>Keep me signed in
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
            </div>
            <input type="submit" value="Login now">
            <!-- <a routerLink="/playlist" class="ms_btn" target="_blank">login now</a> -->
            <div class="popup_forgot">
              <a href="#">Forgot Password ?</a>
            </div>
            <p>Don't Have An Account? <a routerLink="/registration" data-toggle="modal" class="ms_modal1 hideCurrentModel">register here</a></p>
            <div class="form-group">
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="L.submitted && isLoginFailed"
              >
                Login failed: {{ errorMessageLogin }}
              </div>
            </div>
          </form>
          <div class="alert alert-success" *ngIf="isLoggedIn">
            <!-- Logged in as {{ roles }}. -->
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
