<!----Upload and Share Wrapper Start---->
<div class="ms_upload_wrapper marger_top60">
  <form #addForm="ngForm" (ngSubmit)="add(addForm)">
    <div class="ms_upload_box">
      <h2>Upload & Share Your Music With The World</h2>
      <img src="assets/images/svg/upload.svg" alt="">
      <div class="ms_upload_btn">
        <input type="file" (change)="onFileSelected($event)"/>
      </div>
    </div>
  </form>
</div>


<!----Album Single Section Start---->
<div class="ms_content_wrapper padder_top80">
  <!----Free Download Css Start---->
  <div class="ms_free_download">
    <div class="ms_heading">
      <h1>Free Downloads</h1>
    </div>
    <div class="album_inner_list">
      <div class="album_list_wrapper">
        <ul class="album_list_name">
          <li>#</li>
          <li>Name</li>
          <li>Album</li>
          <li class="text-center">Duration</li>
          <li class="text-center">Add To Favourites</li>
          <li class="text-center">More</li>
          <li class="text-center">remove</li>
        </ul>
        <ul *ngFor="let s of songs; index as idx">
          <li><a href="#"><span class="play_no">{{idx + 1}}</span><span class="play_hover"></span></a></li>
          <li><a href="#">{{s.name}}</a></li>
          <li><a href="#">{{s.lyrics}}</a></li>
          <li class="text-center"><a href="#">5:26</a></li>
          <li class="text-center"><a href="#"><span class="ms_icon1 ms_fav_icon"></span></a></li>
          <li class="text-center ms_more_icon"><a href="javascript:;"><span class="ms_icon1 ms_active_icon"></span></a>
            <ul class="more_option">
              <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a>
              </li>
              <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
              <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
              <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a>
              </li>
              <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
            </ul>
          </li>
          <li class="text-center"><a href="#"><span class="ms_close">
            <img src="assets/images/svg/close.svg" alt=""></span></a></li>
        </ul>
      </div>
    </div>
    <div class="ms_view_more padder_bottom20">
      <a href="#" class="ms_btn">view more</a>
    </div>
  </div>
</div>


<!----Footer Start---->
<div class="ms_footer_wrapper">
  <div class="ms_footer_logo">
    <a href="index-2.html"><img src="assets/images/open_logo.png" alt=""></a>
  </div>
  <div class="ms_footer_inner">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="footer_box">
          <h1 class="footer_title">music template</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat duis aute irure dolor.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer_box footer_app">
          <h1 class="footer_title">Download our App</h1>
          <p>Go Mobile with our app.<br> Listen to your favourite songs at just one click. Download Now !</p>
          <a href="#" class="foo_app_btn"><img src="#" alt="" class="img-fluid"></a>
          <a href="#" class="foo_app_btn"><img src="#" alt="" class="img-fluid"></a>
          <a href="#" class="foo_app_btn"><img src="#" alt="" class="img-fluid"></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer_box footer_subscribe">
          <h1 class="footer_title">subscribe</h1>
          <p>Subscribe to our newsletter and get latest updates and offers.</p>
          <form>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Enter Your Name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Enter Your Email">
            </div>
            <div class="form-group">
              <a href="#" class="ms_btn">sign me up</a>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer_box footer_contacts">
          <h1 class="footer_title">contact us</h1>
          <ul class="foo_con_info">
            <li>
              <div class="foo_con_icon">
                <img src="#" alt="">
              </div>
              <div class="foo_con_data">
                <span class="con-title">Call us :</span>
                <span>(+1) 202-555-0176, (+1) 2025-5501</span>
              </div>
            </li>
            <li>
              <div class="foo_con_icon">
                <img src="#" alt="">
              </div>
              <div class="foo_con_data">
                <span class="con-title">email us :</span>
                <span><a href="#">demo@mail.com </a>, <a href="#">dummy@mail.com</a></span>
              </div>
            </li>
            <li>
              <div class="foo_con_icon">
                <img src="#" alt="">
              </div>
              <div class="foo_con_data">
                <span class="con-title">walk in :</span>
                <span>598 Old House Drive, London</span>
              </div>
            </li>
          </ul>
          <div class="foo_sharing">
            <div class="share_title">follow us :</div>
            <ul>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!----Copyright---->
  <div class="col-lg-12">
    <div class="ms_copyright">
      <div class="footer_border"></div>
      <p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
    </div>
  </div>
</div>
