<!----Top Genres Section Start---->
<div class="container">
  <div class="ms_genres_wrapper ms_genres_single padder_top90">
    <div class="row">
      <div class="col-lg-12">
        <div class="ms_heading">
          <h1>Top Genres</h1>
          <span class="veiw_all"><a href="#">view more</a></span>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="ms_genres_box">
          <img src="assets/images/genrs/img1.jpg" alt="" class="img-fluid"/>
          <div class="ms_main_overlay">
            <div class="ms_box_overlay"></div>
            <div class="ms_play_icon">
              <img src="assets/images/svg/play.svg" alt="">
            </div>
            <div class="ovrly_text_div">
              <span class="ovrly_text1"><a href="#">romantic</a></span>
              <span class="ovrly_text2"><a href="genres_single.html">view song</a></span>
            </div>
          </div>
          <div class="ms_box_overlay_on">
            <div class="ovrly_text_div">
              <span class="ovrly_text1"><a href="#">romantic</a></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-4">
            <div class="ms_genres_box">
              <img src="assets/images/genrs/img2.jpg" alt="" class="img-fluid"/>
              <div class="ms_main_overlay">
                <div class="ms_box_overlay"></div>
                <div class="ms_play_icon">
                  <img src="assets/images/svg/play.svg" alt="">
                </div>
                <div class="ovrly_text_div">
                  <span class="ovrly_text1"><a href="#">Classical</a></span>
                  <span class="ovrly_text2"><a href="genres_single.html">view song</a></span>
                </div>
              </div>
              <div class="ms_box_overlay_on">
                <div class="ovrly_text_div">
                  <span class="ovrly_text1"><a href="#">Classical</a></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="ms_genres_box">
              <img src="assets/images/genrs/img3.jpg" alt="" class="img-fluid"/>
              <div class="ms_main_overlay">
                <div class="ms_box_overlay"></div>
                <div class="ms_play_icon">
                  <img src="assets/images/svg/play.svg" alt="">
                </div>
                <div class="ovrly_text_div">
                  <span class="ovrly_text1"><a href="#">hip hop</a></span>
                  <span class="ovrly_text2"><a href="genres_single.html">view song</a></span>
                </div>
              </div>
              <div class="ms_box_overlay_on">
                <div class="ovrly_text_div">
                  <span class="ovrly_text1"><a href="#">hip hop</a></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="ms_genres_box">
              <img src="assets/images/genrs/img5.jpg" alt="" class="img-fluid"/>
              <div class="ms_main_overlay">
                <div class="ms_box_overlay"></div>
                <div class="ms_play_icon">
                  <img src="assets/images/svg/play.svg" alt="">
                </div>
                <div class="ovrly_text_div">
                  <span class="ovrly_text1"><a href="#">dancing</a></span>
                  <span class="ovrly_text2"><a href="genres_single.html">view song</a></span>
                </div>
              </div>
              <div class="ms_box_overlay_on">
                <div class="ovrly_text_div">
                  <span class="ovrly_text1"><a href="#">dancing</a></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="ms_genres_box">
              <img src="assets/images/genrs/img6.jpg" alt="" class="img-fluid"/>
              <div class="ms_main_overlay">
                <div class="ms_box_overlay"></div>
                <div class="ms_play_icon">
                  <img src="assets/images/svg/play.svg" alt="">
                </div>
                <div class="ovrly_text_div">
                  <span class="ovrly_text1"><a href="#">EDM</a></span>
                  <span class="ovrly_text2"><a href="genres_single.html">view song</a></span>
                </div>
              </div>
              <div class="ms_box_overlay_on">
                <div class="ovrly_text_div">
                  <span class="ovrly_text1"><a href="#">EDM</a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="ms_genres_box">
          <img src="assets/images/genrs/img4.jpg" alt="" class="img-fluid"/>
          <div class="ms_main_overlay">
            <div class="ms_box_overlay"></div>
            <div class="ms_play_icon">
              <img src="assets/images/svg/play.svg" alt="">
            </div>
            <div class="ovrly_text_div">
              <span class="ovrly_text1"><a href="#">rock</a></span>
              <span class="ovrly_text2"><a href="genres_single.html">view song</a></span>
            </div>
          </div>
          <div class="ms_box_overlay_on">
            <div class="ovrly_text_div">
              <span class="ovrly_text1"><a href="#">rock</a></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-4">
            <div class="ms_genres_box">
              <img src="assets/images/genrs/img7.jpg" alt="" class="img-fluid"/>
              <div class="ms_main_overlay">
                <div class="ms_box_overlay"></div>
                <div class="ms_play_icon">
                  <img src="assets/images/svg/play.svg" alt="">
                </div>
                <div class="ovrly_text_div">
                  <span class="ovrly_text1"><a href="#">Jazz</a></span>
                  <span class="ovrly_text2"><a href="genres_single.html">view song</a></span>
                </div>
              </div>
              <div class="ms_box_overlay_on">
                <div class="ovrly_text_div">
                  <span class="ovrly_text1"><a href="#">Jazz</a></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="ms_genres_box">
              <img src="assets/images/genrs/img8.jpg" alt="" class="img-fluid"/>
              <div class="ms_main_overlay">
                <div class="ms_box_overlay"></div>
                <div class="ms_play_icon">
                  <img src="assets/images/svg/play.svg" alt="">
                </div>
                <div class="ovrly_text_div">
                  <span class="ovrly_text1"><a href="#">metal</a></span>
                  <span class="ovrly_text2"><a href="genres_single.html">view song</a></span>
                </div>
              </div>
              <div class="ms_box_overlay_on">
                <div class="ovrly_text_div">
                  <span class="ovrly_text1"><a href="#">metal</a></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="ms_genres_box">
              <img src="assets/images/genrs/img9.jpg" alt="" class="img-fluid"/>
              <div class="ms_main_overlay">
                <div class="ms_box_overlay"></div>
                <div class="ms_play_icon">
                  <img src="assets/images/svg/play.svg" alt="">
                </div>
                <div class="ovrly_text_div">
                  <span class="ovrly_text1"><a href="#">pop</a></span>
                  <span class="ovrly_text2"><a href="genres_single.html">view song</a></span>
                </div>
              </div>
              <div class="ms_box_overlay_on">
                <div class="ovrly_text_div">
                  <span class="ovrly_text1"><a href="#">pop</a></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="ms_genres_box">
              <img src="assets/images/genrs/img10.jpg" alt="" class="img-fluid"/>
              <div class="ms_main_overlay">
                <div class="ms_box_overlay"></div>
                <div class="ms_play_icon">
                  <img src="assets/images/svg/play.svg" alt="">
                </div>
                <div class="ovrly_text_div">
                  <span class="ovrly_text1"><a href="#">folk</a></span>
                  <span class="ovrly_text2"><a href="genres_single.html">view song</a></span>
                </div>
              </div>
              <div class="ms_box_overlay_on">
                <div class="ovrly_text_div">
                  <span class="ovrly_text1"><a href="#">folk</a></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="ms_genres_box">
              <img src="assets/images/genrs/img11.jpg" alt="" class="img-fluid"/>
              <div class="ms_main_overlay">
                <div class="ms_box_overlay"></div>
                <div class="ms_play_icon">
                  <img src="assets/images/svg/play.svg" alt="">
                </div>
                <div class="ovrly_text_div">
                  <span class="ovrly_text1"><a href="#">indie</a></span>
                  <span class="ovrly_text2"><a href="genres_single.html">view song</a></span>
                </div>
              </div>
              <div class="ms_box_overlay_on">
                <div class="ovrly_text_div">
                  <span class="ovrly_text1"><a href="#">indie</a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="ms_genres_box">
          <img src="assets/images/genrs/img12.jpg" alt="" class="img-fluid"/>
          <div class="ms_main_overlay">
            <div class="ms_box_overlay"></div>
            <div class="ms_play_icon">
              <img src="assets/images/svg/play.svg" alt="">
            </div>
            <div class="ovrly_text_div">
              <span class="ovrly_text1"><a href="#">soul</a></span>
              <span class="ovrly_text2"><a href="genres_single.html">view song</a></span>
            </div>
          </div>
          <div class="ms_box_overlay_on">
            <div class="ovrly_text_div">
              <span class="ovrly_text1"><a href="#">soul</a></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="ms_genres_box">
          <img src="assets/images/genrs/img13.jpg" alt="" class="img-fluid"/>
          <div class="ms_main_overlay">
            <div class="ms_box_overlay"></div>
            <div class="ms_play_icon">
              <img src="assets/images/svg/play.svg" alt="">
            </div>
            <div class="ovrly_text_div">
              <span class="ovrly_text1"><a href="#">blues</a></span>
              <span class="ovrly_text2"><a href="#">view song</a></span>
            </div>
          </div>
          <div class="ms_box_overlay_on">
            <div class="ovrly_text_div">
              <span class="ovrly_text1"><a href="#">blues</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

