<div class="ms_content_wrapper padder_top90">
  <!---Header--->
  <div class="ms_header">
    <div class="ms_top_left">
      <div class="ms_top_search">
        <input type="text" class="form-control" placeholder="Search Music Here..">
        <span class="search_icon">
							<img src="assets/images/svg/search.svg" alt="">
						</span>
      </div>
      <div class="ms_top_trend">
        <span><a href="#" class="ms_color">Trending Songs :</a></span> <span class="top_marquee"><a href="#">Dream your moments, Until I Met You, Gimme Some Courage, Dark Alley (+8 More)</a></span>
      </div>
    </div>
    <div class="ms_top_right">
      <div class="ms_top_lang">
        <span data-toggle="modal" data-target="#lang_modal">languages <img src="assets/images/svg/lang.svg" alt=""></span>
      </div>
      <div class="ms_top_btn">
        <a href="javascript:;" class="ms_btn reg_btn" data-toggle="modal"
           data-target="#myModal"><span>register</span></a>
        <a href="javascript:;" class="ms_btn login_btn" data-toggle="modal"
           data-target="#myModal1"><span>login</span></a>
      </div>
    </div>
  </div>
  <!----Live Radio Section Start---->
  <div class="ms_top_artist">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="ms_heading">
            <h1>Your Playlists</h1>
          </div>
        </div>
        <div *ngFor="let PlayList of PlayLists as i" class="col-lg-2 col-md-6" >
          <div class="ms_rcnt_box marger_bottom25">
            <div class="ms_rcnt_box_img">
              <img src="assets/images/radio/img1.jpg" alt="" class="img-fluid">
              <div class="ms_main_overlay">
                <div class="ms_box_overlay"></div>
                <div class="ms_more_icon">
                  <img src="assets/images/svg/more.svg" alt="">
                </div>
                <ul class="more_option" >
                  <li><a href="#" data-toggle="modal" data-target="#EditPlayList" (click)="updateFrofilePlayList(PlayList.id)"><span class="opt_icon"><span class="icon icon_fav"></span></span>Re-Name PlayList</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Delete PlayList</a>
                  </li>
                </ul>
                <div class="ms_play_icon">
                  <img src="assets/images/svg/play.svg" alt="">
                </div>
              </div>
            </div>
            <div class="ms_rcnt_box_text">
              <h3><a href="#">{{PlayList.name}}</a></h3>
              <p>15 songs</p>
            </div>
          </div>
          <form #EditFrom = 'ngForm' >
            <div class="modal" tabindex="-1" role="dialog" id="EditPlayList" style="color: black ">
              <div class="modal-dialog" role="document" style="width: 500px">
                <div class="modal-content">
                  <p style="position: absolute; top: 10px; left: 130px; color: aliceblue;font-size: 24px">Edit your PlayList</p>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size: 13px">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <div class="form-group">
                    <input ngModel name="name" type="text" placeholder="Enter Your PlayList Name" class="form-control">
                  </div>
                  <div class="ms_upload_btn" style="height: 30px">
                    <a [id]="playListProfile.id" href="#" class="ms_btn" style="position: absolute ; left: 135px ; bottom: 10px" (click)= "editPlayList(this , EditFrom)" data-dismiss="modal">Create</a>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-2" data-toggle="modal" data-target="#createPlayList">
          <div class="ms_rcnt_box marger_bottom25">
            <div class="create_playlist">
              <i class="ms_icon icon_playlist"></i>
            </div>
            <div class="ms_rcnt_box_text">
              <h3><a href="#" data-toggle="modal" data-target="#createPlayList">Create New Playlist</a></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!----Featured Playlist Section Start---->
  <div class="ms_radio_wrapper">
    <div class="ms_heading">
      <h1>Featured Playlist</h1>
      <span class="veiw_all"><a href="#">view more</a></span>
    </div>
    <div class="ms_radio_slider swiper-container swiper-container-horizontal">
      <div class="swiper-wrapper" style="transform: translate3d(-1881.83px, 0px, 0px); transition-duration: 0ms;">
        <div class="swiper-slide swiper-slide-duplicate">
          <div class="ms_rcnt_box">
            <div class="ms_rcnt_box_img">
              <img src="assets/images/album/album10.jpg" alt="">
              <div class="ms_main_overlay">
                <div class="ms_box_overlay"></div>
                <div class="ms_more_icon">
                  <img src="assets/images/svg/more.svg" alt="">
                </div>
                <ul class="more_option">
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To
                    Playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
                <div class="ms_play_icon">
                  <img src="assets/images/svg/play.svg" alt="">
                </div>
              </div>
            </div>
            <div class="ms_rcnt_box_text">
              <h3><a href="#">Best Classics Of All Time</a></h3>
              <p>20 songs</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-duplicate">
          <div class="ms_rcnt_box">
            <div class="ms_rcnt_box_img">
              <img src="assets/images/radio/img8.jpg" alt="">
              <div class="ms_main_overlay">
                <div class="ms_box_overlay"></div>
                <div class="ms_more_icon">
                  <img src="assets/images/svg/more.svg" alt="">
                </div>
                <ul class="more_option">
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To
                    Playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
                <div class="ms_play_icon">
                  <img src="assets/images/svg/play.svg" alt="">
                </div>
              </div>
            </div>
            <div class="ms_rcnt_box_text">
              <h3><a href="#">Heart Broken - Soul Music</a></h3>
              <p>20 songs</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-duplicate">
          <div class="ms_rcnt_box">
            <div class="ms_rcnt_box_img">
              <img src="assets/images/radio/img9.jpg" alt="">
              <div class="ms_main_overlay">
                <div class="ms_box_overlay"></div>
                <div class="ms_more_icon">
                  <img src="assets/images/svg/more.svg" alt="">
                </div>
                <ul class="more_option">
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To
                    Playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
                <div class="ms_play_icon">
                  <img src="assets/images/svg/play.svg" alt="">
                </div>
              </div>
            </div>
            <div class="ms_rcnt_box_text">
              <h3><a href="#">Dream Your Moments (Duet)</a></h3>
              <p>20 songs</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-duplicate">
          <div class="ms_rcnt_box">
            <div class="ms_rcnt_box_img">
              <img src="assets/images/music/r_music2.jpg" alt="">
              <div class="ms_main_overlay">
                <div class="ms_box_overlay"></div>
                <div class="ms_more_icon">
                  <img src="assets/images/svg/more.svg" alt="">
                </div>
                <ul class="more_option">
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To
                    Playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
                <div class="ms_play_icon">
                  <img src="assets/images/svg/play.svg" alt="">
                </div>
              </div>
            </div>
            <div class="ms_rcnt_box_text">
              <h3><a href="#">Until I Met You</a></h3>
              <p>20 songs</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-duplicate">
          <div class="ms_rcnt_box">
            <div class="ms_rcnt_box_img">
              <img src="assets/images/radio/img10.jpg" alt="">
              <div class="ms_main_overlay">
                <div class="ms_box_overlay"></div>
                <div class="ms_more_icon">
                  <img src="assets/images/svg/more.svg" alt="">
                </div>
                <ul class="more_option">
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To
                    Playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
                <div class="ms_play_icon">
                  <img src="assets/images/svg/play.svg" alt="">
                </div>
              </div>
            </div>
            <div class="ms_rcnt_box_text">
              <h3><a href="#">Gimme Some Courage</a></h3>
              <p>20 songs</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-duplicate">
          <div class="ms_rcnt_box">
            <div class="ms_rcnt_box_img">
              <img src="assets/images/radio/img11.jpg" alt="">
              <div class="ms_main_overlay">
                <div class="ms_box_overlay"></div>
                <div class="ms_more_icon">
                  <img src="assets/images/svg/more.svg" alt="">
                </div>
                <ul class="more_option">
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To
                    Playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
                <div class="ms_play_icon">
                  <img src="assets/images/svg/play.svg" alt="">
                </div>
              </div>
            </div>
            <div class="ms_rcnt_box_text">
              <h3><a href="#">Dark Alley Acoustic</a></h3>
              <p>20 songs</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-prev">
          <div class="ms_rcnt_box">
            <div class="ms_rcnt_box_img">
              <img src="assets/images/radio/img1.jpg" alt="">
              <div class="ms_main_overlay">
                <div class="ms_box_overlay"></div>
                <div class="ms_more_icon">
                  <img src="assets/images/svg/more.svg" alt="">
                </div>
                <ul class="more_option">
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To
                    Playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
                <div class="ms_play_icon">
                  <img src="assets/images/svg/play.svg" alt="">
                </div>
              </div>
            </div>
            <div class="ms_rcnt_box_text">
              <h3><a href="#">Top Trendings</a></h3>
              <p>20 songs</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-active">
          <div class="ms_rcnt_box">
            <div class="ms_rcnt_box_img">
              <img src="assets/images/radio/img2.jpg" alt="">
              <div class="ms_main_overlay">
                <div class="ms_box_overlay"></div>
                <div class="ms_more_icon">
                  <img src="assets/images/svg/more.svg" alt="">
                </div>
                <ul class="more_option">
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To
                    Playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
                <div class="ms_play_icon">
                  <img src="assets/images/svg/play.svg" alt="">
                </div>
              </div>
            </div>
            <div class="ms_rcnt_box_text">
              <h3><a href="#">New Romantic Charts</a></h3>
              <p>20 songs</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-next">
          <div class="ms_rcnt_box">
            <div class="ms_rcnt_box_img">
              <img src="assets/images/radio/img3.jpg" alt="">
              <div class="ms_main_overlay">
                <div class="ms_box_overlay"></div>
                <div class="ms_more_icon">
                  <img src="assets/images/svg/more.svg" alt="">
                </div>
                <ul class="more_option">
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To
                    Playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
                <div class="ms_play_icon">
                  <img src="assets/images/svg/play.svg" alt="">
                </div>
              </div>
            </div>
            <div class="ms_rcnt_box_text">
              <h3><a href="#">Dance Beats - Hip Hops</a></h3>
              <p>20 songs</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="ms_rcnt_box">
            <div class="ms_rcnt_box_img">
              <img src="assets/images/radio/img4.jpg" alt="">
              <div class="ms_main_overlay">
                <div class="ms_box_overlay"></div>
                <div class="ms_more_icon">
                  <img src="assets/images/svg/more.svg" alt="">
                </div>
                <ul class="more_option">
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To
                    Playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
                <div class="ms_play_icon">
                  <img src="assets/images/svg/play.svg" alt="">
                </div>
              </div>
            </div>
            <div class="ms_rcnt_box_text">
              <h3><a href="#">Workout Time</a></h3>
              <p>20 songs</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="ms_rcnt_box">
            <div class="ms_rcnt_box_img">
              <img src="assets/images/radio/img5.jpg" alt="">
              <div class="ms_main_overlay">
                <div class="ms_box_overlay"></div>
                <div class="ms_more_icon">
                  <img src="assets/images/svg/more.svg" alt="">
                </div>
                <ul class="more_option">
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To
                    Playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
                <div class="ms_play_icon">
                  <img src="assets/images/svg/play.svg" alt="">
                </div>
              </div>
            </div>
            <div class="ms_rcnt_box_text">
              <h3><a href="#">Best Classics Of All Time</a></h3>
              <p>20 songs</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="ms_rcnt_box">
            <div class="ms_rcnt_box_img">
              <img src="assets/images/radio/img6.jpg" alt="">
              <div class="ms_main_overlay">
                <div class="ms_box_overlay"></div>
                <div class="ms_more_icon">
                  <img src="assets/images/svg/more.svg" alt="">
                </div>
                <ul class="more_option">
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To
                    Playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
                <div class="ms_play_icon">
                  <img src="assets/images/svg/play.svg" alt="">
                </div>
              </div>
            </div>
            <div class="ms_rcnt_box_text">
              <h3><a href="#">Heart Broken - Soul Music</a></h3>
              <p>20 songs</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="ms_rcnt_box">
            <div class="ms_rcnt_box_img">
              <img src="assets/images/radio/img1.jpg" alt="">
              <div class="ms_main_overlay">
                <div class="ms_box_overlay"></div>
                <div class="ms_more_icon">
                  <img src="assets/images/svg/more.svg" alt="">
                </div>
                <ul class="more_option">
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To
                    Playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
                <div class="ms_play_icon">
                  <img src="assets/images/svg/play.svg" alt="">
                </div>
              </div>
            </div>
            <div class="ms_rcnt_box_text">
              <h3><a href="#">Dream Your Moments (Duet)</a></h3>
              <p>20 songs</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="ms_rcnt_box">
            <div class="ms_rcnt_box_img">
              <img src="assets/images/radio/img2.jpg" alt="">
              <div class="ms_main_overlay">
                <div class="ms_box_overlay"></div>
                <div class="ms_more_icon">
                  <img src="assets/images/svg/more.svg" alt="">
                </div>
                <ul class="more_option">
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To
                    Playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
                <div class="ms_play_icon">
                  <img src="assets/images/svg/play.svg" alt="">
                </div>
              </div>
            </div>
            <div class="ms_rcnt_box_text">
              <h3><a href="#">Until I Met You</a></h3>
              <p>20 songs</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="ms_rcnt_box">
            <div class="ms_rcnt_box_img">
              <img src="assets/images/radio/img3.jpg" alt="">
              <div class="ms_main_overlay">
                <div class="ms_box_overlay"></div>
                <div class="ms_more_icon">
                  <img src="assets/images/svg/more.svg" alt="">
                </div>
                <ul class="more_option">
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To
                    Playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
                <div class="ms_play_icon">
                  <img src="assets/images/svg/play.svg" alt="">
                </div>
              </div>
            </div>
            <div class="ms_rcnt_box_text">
              <h3><a href="#">Gimme Some Courage</a></h3>
              <p>20 songs</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="ms_rcnt_box">
            <div class="ms_rcnt_box_img">
              <img src="assets/images/radio/img4.jpg" alt="">
              <div class="ms_main_overlay">
                <div class="ms_box_overlay"></div>
                <div class="ms_more_icon">
                  <img src="assets/images/svg/more.svg" alt="">
                </div>
                <ul class="more_option">
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To
                    Playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
                <div class="ms_play_icon">
                  <img src="assets/images/svg/play.svg" alt="">
                </div>
              </div>
            </div>
            <div class="ms_rcnt_box_text">
              <h3><a href="#">Dark Alley Acoustic</a></h3>
              <p>20 songs</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="ms_rcnt_box">
            <div class="ms_rcnt_box_img">
              <img src="assets/images/radio/img1.jpg" alt="">
              <div class="ms_main_overlay">
                <div class="ms_box_overlay"></div>
                <div class="ms_more_icon">
                  <img src="assets/images/svg/more.svg" alt="">
                </div>
                <ul class="more_option">
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To
                    Playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
                <div class="ms_play_icon">
                  <img src="assets/images/svg/play.svg" alt="">
                </div>
              </div>
            </div>
            <div class="ms_rcnt_box_text">
              <h3><a href="#">Top Trendings</a></h3>
              <p>20 songs</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="ms_rcnt_box">
            <div class="ms_rcnt_box_img">
              <img src="assets/images/radio/img2.jpg" alt="">
              <div class="ms_main_overlay">
                <div class="ms_box_overlay"></div>
                <div class="ms_more_icon">
                  <img src="assets/images/svg/more.svg" alt="">
                </div>
                <ul class="more_option">
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To
                    Playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
                <div class="ms_play_icon">
                  <img src="assets/images/svg/play.svg" alt="">
                </div>
              </div>
            </div>
            <div class="ms_rcnt_box_text">
              <h3><a href="#">New Romantic Charts</a></h3>
              <p>20 songs</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="ms_rcnt_box">
            <div class="ms_rcnt_box_img">
              <img src="assets/images/radio/img3.jpg" alt="">
              <div class="ms_main_overlay">
                <div class="ms_box_overlay"></div>
                <div class="ms_more_icon">
                  <img src="assets/images/svg/more.svg" alt="">
                </div>
                <ul class="more_option">
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To
                    Playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
                <div class="ms_play_icon">
                  <img src="assets/images/svg/play.svg" alt="">
                </div>
              </div>
            </div>
            <div class="ms_rcnt_box_text">
              <h3><a href="#">Dance Beats - Hip Hops</a></h3>
              <p>20 songs</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="ms_rcnt_box">
            <div class="ms_rcnt_box_img">
              <img src="assets/images/radio/img4.jpg" alt="">
              <div class="ms_main_overlay">
                <div class="ms_box_overlay"></div>
                <div class="ms_more_icon">
                  <img src="assets/images/svg/more.svg" alt="">
                </div>
                <ul class="more_option">
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To
                    Playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
                <div class="ms_play_icon">
                  <img src="assets/images/svg/play.svg" alt="">
                </div>
              </div>
            </div>
            <div class="ms_rcnt_box_text">
              <h3><a href="#">Workout Time</a></h3>
              <p>20 songs</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="ms_rcnt_box">
            <div class="ms_rcnt_box_img">
              <img src="assets/images/radio/img5.jpg" alt="">
              <div class="ms_main_overlay">
                <div class="ms_box_overlay"></div>
                <div class="ms_more_icon">
                  <img src="assets/images/svg/more.svg" alt="">
                </div>
                <ul class="more_option">
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To
                    Playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
                <div class="ms_play_icon">
                  <img src="assets/images/svg/play.svg" alt="">
                </div>
              </div>
            </div>
            <div class="ms_rcnt_box_text">
              <h3><a href="#">Best Classics Of All Time</a></h3>
              <p>20 songs</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="ms_rcnt_box">
            <div class="ms_rcnt_box_img">
              <img src="assets/images/radio/img6.jpg" alt="">
              <div class="ms_main_overlay">
                <div class="ms_box_overlay"></div>
                <div class="ms_more_icon">
                  <img src="assets/images/svg/more.svg" alt="">
                </div>
                <ul class="more_option">
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To
                    Playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
                <div class="ms_play_icon">
                  <img src="assets/images/svg/play.svg" alt="">
                </div>
              </div>
            </div>
            <div class="ms_rcnt_box_text">
              <h3><a href="#">Heart Broken - Soul Music</a></h3>
              <p>20 songs</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next4 slider_nav_next"></div>
    <div class="swiper-button-prev4 slider_nav_prev"></div>
  </div>
  <!----Main div close---->
</div>
<form #CreateForm = 'ngForm' >
<div class="modal" tabindex="-1" role="dialog" id="createPlayList" style="color: black ">
  <div class="modal-dialog" role="document" style="width: 500px">
    <div class="modal-content">
      <p style="position: absolute; top: 10px; left: 130px; color: aliceblue;font-size: 24px">Create New Play List</p>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size: 13px">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="form-group">
        <input [(ngModel)]="playList.name" name="name" type="text" placeholder="Enter Your PlayList Name" class="form-control">
      </div>
        <div class="ms_upload_btn" style="height: 30px">
          <a href="#" class="ms_btn" style="position: absolute ; left: 135px ; bottom: 10px" (click)= "createPlayList(CreateForm)">Create</a>
        </div>
      </div>
    </div>
  </div>
</form>

