<div class="ms_album_single_wrapper ms_artist_single">
  <div class="album_single_data">
    <div class="album_single_img">
      <img [src]="singer.avatarUrl" alt="" class="img-fluid">
    </div>
    <div class="album_single_text">
      <h2>{{singer.name}}</h2>
      <div class="about_artist">
        {{singer.description}}
      </div>
      <div class="album_btn">
        <a class="ms_btn play_btn"><span class="play_all"><img
          src="assets/images/svg/play_all.svg" alt="">Play All</span><span
          class="pause_all"><img src="assets/images/svg/pause_all.svg" alt="">Pause</span></a>
      </div>
    </div>
    <div class="album_more_optn ms_more_icon">
      <span><img src="assets/images/svg/more.svg" alt=""></span>
    </div>
    <ul class="more_option">
      <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
      <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
      <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
      <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
      <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
    </ul>
  </div>
  <!----Song List---->
  <div class="album_inner_list">
    <div class="album_list_wrapper">
      <ul class="album_list_name">
        <li>#</li>
        <li>Name Song</li>
        <li class="text-center">Add To Favourites</li>
        <li class="text-center">More</li>
      </ul>

      <ul>
        <li><a (click)="playSong(songid)"><span class="play_no"  >{{songid}}</span><span class="play_hover"></span></a>
        </li>
        <li><a>{{singer.name}}</a></li>
        <li class="text-center"><a href="#"><span class="ms_icon1 ms_fav_icon"></span></a></li>
        <li class="text-center ms_more_icon"><a href="javascript:"><span class="ms_icon1 ms_active_icon"></span></a>
          <ul class="more_option">
            <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a>
            </li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="ms_view_more padder_bottom20">
    <a href="#" class="ms_btn">view more</a>
  </div>

  <!----Comment Form section Start---->
  <div class="ms_cmnt_wrapper">
    <div class="ms_heading">
      <h1>List Comment</h1>
    </div>
    <div class="ms_cmnt_form">
        <div class="ms_input_group">
          <div class="album_list_wrapper">
            <ul class="album_list_name">
              <li>User</li>
              <li>Comment</li>
            </ul>
            <ul *ngFor="let cm of songcomment">
              <li>
                <a>{{cm.user.username}}</a>
              </li>
              <li>
                <a>{{cm.comment}}</a>
              </li>
            </ul>
          </div>
        </div>
        <form #from="ngForm" *ngIf="currentUser != null">
          <div class="ms_input_group1">
            <div class="ms_input">
              <textarea name="comment" [(ngModel)]="comment.comment" class="form-control" placeholder="Enter Your Comment Here.."></textarea>
            </div>
          </div>
          <div class="ms_input_group2">
            <div class="ms_input">
              <button class="ms_btn" (click)="createComment(from)">post your comment</button>
            </div>
          </div>
        </form>

    </div>
  </div>
</div>

