.comment-section {
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}
.comment {
  margin: 10px;
  border: 1px solid #2ec8e6;
  padding:10px;
  border-radius: 10px;
}
p {
  font-size: 1.5rem;
}
.comment-date {
  font-size: small;
}
