<div class="ms_content_wrapper padder_top80">
  <!---Header--->
  <app-header></app-header>
  <!---Banner--->
  <div class="ms-banner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="ms_banner_img">
            <img src="assets/images/banner.png" alt="" class="img-fluid">
          </div>
          <div class="ms_banner_text">
            <h1>This Month’s</h1>
            <h1 class="ms_color">Record Breaking Albums !</h1>
            <p>Dream your moments, Until I Met You, Gimme Some Courage, Dark Alley, One More Of A Stranger, Endless<br>
              Things, The Heartbeat Stops, Walking Promises, Desired Games and many more...</p>
            <div class="ms_banner_btn">
              <a href="#" class="ms_btn">Listen Now</a>
              <a href="#" class="ms_btn">Add To Queue</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!---Latest Played Music--->
  <div class="ms_rcnt_slider">
    <div class="ms_heading">
      <h1>Latest Release</h1>
    </div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let song of songs">
          <div class="ms_rcnt_box">
            <div class="ms_rcnt_box_img">
              <img [src]="song.coverUrl" alt="">
              <div class="ms_main_overlay">
                <div class="ms_box_overlay"></div>
                <div class="ms_more_icon">
                  <img src="assets/images/svg/more.svg" alt="">
                </div>
                <ul class="more_option">
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a>
                  </li>
                  <li><a [href]="song.url"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To
                    Playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
                <div class="ms_play_icon">
                  <img src="assets/images/svg/play.svg" alt="" (click)="selectSong(song.id)">
                </div>
              </div>
            </div>
            <div class="ms_rcnt_box_text">
              <h3><a href="#">{{song.name}}</a></h3>
              <a *ngFor="let singer of song.singers" [routerLink]="['/singer', singer.id]">{{singer.name}} </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next slider_nav_next"></div>
    <div class="swiper-button-prev slider_nav_prev"></div>
  </div>
  <!---Top 15--->
  <div class="ms_weekly_wrapper">
    <div class="ms_weekly_inner">
      <div class="row">
        <div class="col-lg-12">
          <div class="ms_heading">
            <h1>top 15</h1>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 padding_right40">
          <ng-container *ngFor="let song of top5Songs; let i = index">
            <div class="ms_weekly_box">
              <div class="weekly_left">
                                    <span class="w_top_no">
										{{i+1}}
									</span>
                <div class="w_top_song">
                  <div class="w_tp_song_img">
                    <img src="assets/images/weekly/song1.jpg" alt="" class="img-fluid">
                    <div class="ms_song_overlay">
                    </div>
                    <div class="ms_play_icon">
                      <img src="assets/images/svg/play.svg" alt="" (click)="selectSong(song.id)">
                    </div>
                  </div>
                  <div class="w_tp_song_name">
                    <h3><a class="songName">{{song.name}}</a></h3>
                    <a href="javascript:;" *ngFor="let singer of song.singers" [routerLink]="['/singer', singer.id]">{{singer.name}} </a><br>
                    <span class="w_song_time">{{song.views}} views</span>
                  </div>
                </div>
              </div>
              <div class="weekly_right">
                <span class="ms_more_icon" data-other="1">
										<img src="assets/images/svg/more.svg" alt="">
									</span>
              </div>
              <ul class="more_option">
                <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a>
                </li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                <li><a [href]="song.url"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a>
                </li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
              </ul>
            </div>
            <div class="ms_divider"></div>
          </ng-container>
        </div>
        <div class="col-lg-4 col-md-12 padding_right40">
          <ng-container *ngFor="let song of top10Songs; let i = index">
            <div class="ms_weekly_box">
              <div class="weekly_left">
                                    <span class="w_top_no">
										{{i+6}}
									</span>
                <div class="w_top_song">
                  <div class="w_tp_song_img">
                    <img src="assets/images/weekly/song1.jpg" alt="" class="img-fluid">
                    <div class="ms_song_overlay">
                    </div>
                    <div class="ms_play_icon">
                      <img src="assets/images/svg/play.svg" (click)="selectSong(song.id)" alt="">
                    </div>
                  </div>
                  <div class="w_tp_song_name">
                    <h3><a class="songName">{{song.name}}</a></h3>
                    <span *ngFor="let singer of song.singers">{{singer.name}} </span><br>
                    <span class="w_song_time">{{song.views}} views</span>
                  </div>
                </div>
              </div>
              <div class="weekly_right">
                <span class="ms_more_icon" data-other="1">
										<img src="assets/images/svg/more.svg" alt="">
									</span>
              </div>
              <ul class="more_option">
                <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a>
                </li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                <li><a [href]="song.url"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a>
                </li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
              </ul>
            </div>
            <div class="ms_divider"></div>
          </ng-container>
        </div>
        <div class="col-lg-4 col-md-12">
          <ng-container *ngFor="let song of top15Songs; let i = index">
            <div class="ms_weekly_box">
              <div class="weekly_left">
                                    <span class="w_top_no">
										{{i+11}}
									</span>
                <div class="w_top_song">
                  <div class="w_tp_song_img">
                    <img src="assets/images/weekly/song1.jpg" alt="" class="img-fluid">
                    <div class="ms_song_overlay">
                    </div>
                    <div class="ms_play_icon">
                      <img src="assets/images/svg/play.svg" (click)="selectSong(song.id)" alt="">
                    </div>
                  </div>
                  <div class="w_tp_song_name">
                    <h3><a class="songName">{{song.name}}</a></h3>
                    <span *ngFor="let singer of song.singers">{{singer.name}} </span><br>
                    <span class="w_song_time">{{song.views}} views</span>
                  </div>
                </div>
              </div>
              <div class="weekly_right">
                <span class="ms_more_icon" data-other="1">
										<img src="assets/images/svg/more.svg" alt="">
									</span>
              </div>
              <ul class="more_option">
                <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a>
                </li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                <li><a [href]="song.url"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a>
                </li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
              </ul>
            </div>
            <div class="ms_divider"></div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
<!--  Top 15 likes-->
  <div class="ms_weekly_wrapper">
    <div class="ms_weekly_inner">
      <div class="row">
        <div class="col-lg-12">
          <div class="ms_heading">
            <h1>top 15 likes</h1>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 padding_right40">
          <ng-container *ngFor="let song of top15Likes; let i = index">
            <div class="ms_weekly_box">
              <div class="weekly_left">
                                    <span class="w_top_no">
										{{i+1}}
									</span>
                <div class="w_top_song">
                  <div class="w_tp_song_img">
                    <img src="assets/images/weekly/song1.jpg" alt="" class="img-fluid">
                    <div class="ms_song_overlay">
                    </div>
                    <div class="ms_play_icon">
                      <img src="assets/images/svg/play.svg" alt="" (click)="selectSong(song.id)">
                    </div>
                  </div>
                  <div class="w_tp_song_name">
                    <h3><a class="songName">{{song.name}}</a></h3>
                    <span *ngFor="let singer of song.singers">{{singer.name}} </span><br>
                    <span class="w_song_time">{{song.views}} views</span>
                  </div>
                </div>
              </div>
              <div class="weekly_right">
                <span class="ms_more_icon" data-other="1">
										<img src="assets/images/svg/more.svg" alt="">
									</span>
              </div>
              <ul class="more_option">
                <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a>
                </li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                <li><a [href]="song.url"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a>
                </li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
              </ul>
            </div>
            <div class="ms_divider"></div>
          </ng-container>
        </div>
        <div class="col-lg-4 col-md-12 padding_right40">
          <ng-container *ngFor="let song of top10Songs; let i = index">
            <div class="ms_weekly_box">
              <div class="weekly_left">
                                    <span class="w_top_no">
										{{i+6}}
									</span>
                <div class="w_top_song">
                  <div class="w_tp_song_img">
                    <img src="assets/images/weekly/song1.jpg" alt="" class="img-fluid">
                    <div class="ms_song_overlay">
                    </div>
                    <div class="ms_play_icon">
                      <img src="assets/images/svg/play.svg" (click)="selectSong(song.id)" alt="">
                    </div>
                  </div>
                  <div class="w_tp_song_name">
                    <h3><a class="songName">{{song.name}}</a></h3>
                    <span *ngFor="let singer of song.singers">{{singer.name}} </span><br>
                    <span class="w_song_time">{{song.views}} views</span>
                  </div>
                </div>
              </div>
              <div class="weekly_right">
                <span class="ms_more_icon" data-other="1">
										<img src="assets/images/svg/more.svg" alt="">
									</span>
              </div>
              <ul class="more_option">
                <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a>
                </li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                <li><a [href]="song.url"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a>
                </li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
              </ul>
            </div>
            <div class="ms_divider"></div>
          </ng-container>
        </div>
        <div class="col-lg-4 col-md-12">
          <ng-container *ngFor="let song of top15Songs; let i = index">
            <div class="ms_weekly_box">
              <div class="weekly_left">
                                    <span class="w_top_no">
										{{i+11}}
									</span>
                <div class="w_top_song">
                  <div class="w_tp_song_img">
                    <img src="assets/images/weekly/song1.jpg" alt="" class="img-fluid">
                    <div class="ms_song_overlay">
                    </div>
                    <div class="ms_play_icon">
                      <img src="assets/images/svg/play.svg" (click)="selectSong(song.id)" alt="">
                    </div>
                  </div>
                  <div class="w_tp_song_name">
                    <h3><a class="songName">{{song.name}}</a></h3>
                    <span *ngFor="let singer of song.singers">{{singer.name}} </span><br>
                    <span class="w_song_time">{{song.views}} views</span>
                  </div>
                </div>
              </div>
              <div class="weekly_right">
                <span class="ms_more_icon" data-other="1">
										<img src="assets/images/svg/more.svg" alt="">
									</span>
              </div>
              <ul class="more_option">
                <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a>
                </li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                <li><a [href]="song.url"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a>
                </li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
              </ul>
            </div>
            <div class="ms_divider"></div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <!----Featured Albumn Section Start---->
  <div class="ms_fea_album_slider">
    <div class="ms_heading">
      <h1>Featured Playlists</h1>
    </div>
    <div class="ms_album_slider swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="ms_rcnt_box">
            <div class="ms_rcnt_box_img">
              <img src="assets/images/album/album1.jpg" alt="">
              <div class="ms_main_overlay">
                <div class="ms_box_overlay"></div>
                <div class="ms_more_icon">
                  <img src="images/svg/more.svg" alt="">
                </div>
                <ul class="more_option">
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a>
                  </li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To
                    Playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
                <div class="ms_play_icon">
                  <img src="images/svg/play.svg" alt="">
                </div>
              </div>
            </div>
            <div class="ms_rcnt_box_text">
              <h3><a href="#">Bloodlust</a></h3>
              <p>Ava Cornish & Brian Hill</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next3 slider_nav_next"></div>
    <div class="swiper-button-prev3 slider_nav_prev"></div>
  </div>
  <!----Add Section Start---->
  <div class="ms_advr_wrapper ms_advr2">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <a href="#"><img src="images/adv1.jpg" alt="" class="img-fluid"/></a>
        </div>
      </div>
    </div>
  </div>
  <!----Main div close---->
</div>
