<app-header></app-header>
<div class="ms_main_wrapper">
  <!---Side Menu Start--->
  <div class="ms_sidemenu_wrapper" id="top">
    <div class="ms_nav_close">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </div>
    <div class="ms_sidemenu_inner">
      <div class="ms_logo_inner">
        <div class="ms_logo">
          <a href="index-2.html"><img src="images/logo.png" alt="" class="img-fluid"/></a>
        </div>
        <div class="ms_logo_open">
          <a href="index-2.html"><img src="images/open_logo.png" alt="" class="img-fluid"/></a>
        </div>
      </div>
      <div class="ms_nav_wrapper">
        <ul>
          <li><a href="index-2.html" title="Discover">
						<span class="nav_icon">
							<span class="icon icon_discover"></span>
						</span>
            <span class="nav_text">
							discover
						</span>
          </a>
          </li>
          <li><a href="album.html" class="active" title="Albums">
						<span class="nav_icon">
							<span class="icon icon_albums"></span>
						</span>
            <span class="nav_text">
							albums
						</span>
          </a>
          </li>
          <li><a href="artist.html" title="Artists">
						<span class="nav_icon">
							<span class="icon icon_artists"></span>
						</span>
            <span class="nav_text">
							artists
						</span>
          </a>
          </li>
          <li><a href="genres.html" title="Genres">
						<span class="nav_icon">
							<span class="icon icon_genres"></span>
						</span>
            <span class="nav_text">
							genres
						</span>
          </a>
          </li>
          <li><a href="top_track.html" title="Top Tracks">
						<span class="nav_icon">
							<span class="icon icon_tracks"></span>
						</span>
            <span class="nav_text">
							top tracks
						</span>
          </a>
          </li>
          <li><a href="free_music.html" title="Free Music">
						<span class="nav_icon">
							<span class="icon icon_music"></span>
						</span>
            <span class="nav_text">
							free music
						</span>
          </a>
          </li>
          <li><a href="stations.html" title="Stations">
						<span class="nav_icon">
							<span class="icon icon_station"></span>
						</span>
            <span class="nav_text">
							stations
						</span>
          </a>
          </li>
        </ul>
        <ul class="nav_downloads">
          <li><a href="download.html" title="Downloads">
						<span class="nav_icon">
							<span class="icon icon_download"></span>
						</span>
            <span class="nav_text">
							downloads
						</span>
          </a>
          </li>
          <li><a href="purchase.html" title="Purchased">
						<span class="nav_icon">
							<span class="icon icon_purchased"></span>
						</span>
            <span class="nav_text">
							purchased
						</span>
          </a>
          </li>
          <li><a href="favourite.html" title="Favourites">
						<span class="nav_icon">
							<span class="icon icon_favourite"></span>
						</span>
            <span class="nav_text">
							favourites
						</span>
          </a>
          </li>
          <li><a href="history.html" title="History">
						<span class="nav_icon">
							<span class="icon icon_history"></span>
						</span>
            <span class="nav_text">
							history
						</span>
          </a>
          </li>
        </ul>
        <ul class="nav_playlist">
          <li><a href="feature_playlist.html" title="Featured Playlist">
						<span class="nav_icon">
							<span class="icon icon_fe_playlist"></span>
						</span>
            <span class="nav_text">
							featured playlist
						</span>
          </a>
          </li>
          <li><a href="add_playlist.html" title="Create Playlist">
						<span class="nav_icon">
							<span class="icon icon_c_playlist"></span>
						</span>
            <span class="nav_text">
							create playlist
						</span>
          </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!----Album Single Section Start---->
  <div class="ms_album_single_wrapper">
    <div class="album_single_data">
      <div class="album_single_img">
        <img src="assets/images/album/single_album.jpg" alt="" class="img-fluid">
      </div>
      <div class="album_single_text" >
        <h2 *ngIf="playList!=null">{{playList.name}}</h2>
        <p class="singer_name">By - Ava Cornish, Brian Hill</p>
        <div class="album_feature" >
          <a *ngIf="playList.songs!=null" href="#" class="album_date">{{playList.songs.length}}Songs</a>
          <a *ngIf="playList!=null" href="#" class="album_date">Released March 23, 2018  | {{playList.description}}</a>
        </div>
        <div class="album_btn">
          <a href="#" class="ms_btn play_btn"><span class="play_all"><img src="images/svg/play_all.svg" alt="">Play All</span><span class="pause_all"><img src="images/svg/pause_all.svg" alt="">Pause</span></a>
          <a href="#" class="ms_btn"><span class="play_all"><img src="images/svg/add_q.svg" alt="">Add To Queue</span></a>
        </div>
      </div>
      <div class="album_more_optn ms_more_icon">
        <span><img src="assets/images/svg/more.svg" alt=""></span>
      </div>
      <ul class="more_option">
        <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
        <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
        <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
        <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
        <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
      </ul>
    </div>
    <!----Song List---->
    <div class="album_inner_list">
      <div class="album_list_wrapper">
        <ul class="album_list_name">
          <li>Song Title</li>
          <li>singer</li>
          <li class="text-center">views</li>
          <li class="text-center">like</li>
          <li class="text-center">Delete</li>
        </ul>
        <ul *ngFor="let song of playList.songs , let i = index">
          <li><a (click)="PlaySong(song.id)"><span class="play_no">{{song.name}}</span><span class="play_hover"></span></a></li>
          <li><ng-container *ngIf="song.singers!=null"><a href ="#" *ngFor="let singer of song.singers">{{singer.name}}</a></ng-container></li>
          <li class="text-center"><a href="#">{{song.views}}</a></li>
          <li class="text-center"><a href="#"><span class="ms_icon1 ms_fav_icon"></span></a></li>
          <li class="text-center" ><span class="ms_icon1 ms_active_icon" (click)="DeteleMusic(song.id , playList.id)"></span></li>
        </ul>
      </div>
    </div>
  </div>
  <!---Main Content Start--->
  <div class="ms_content_wrapper ms_album_content">
    <!----Testimonial section Start---->
    <div class="ms_test_wrapper">
      <div class="ms_heading">
        <h1>comments (5)</h1>
      </div>
      <div class="ms_test_slider swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="ms_test_box">
              <div class="ms_test_top">
                <div class="ms_test_img">
                  <img src="images/user1.jpg" alt="">
                </div>
                <div class="ms_test_name">
                  <h3>Frank Adler</h3>
                  <span class="cmnt_time">10 Minutes Ago</span>
                </div>
              </div>
              <div class="ms_test_para">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor.</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ms_test_box">
              <div class="ms_test_top">
                <div class="ms_test_img">
                  <img src="images/user2.jpg" alt="">
                </div>
                <div class="ms_test_name">
                  <h3>Frank Adler</h3>
                  <span class="cmnt_time">10 Days Ago</span>
                </div>
              </div>
              <div class="ms_test_para">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor.</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ms_test_box">
              <div class="ms_test_top">
                <div class="ms_test_img">
                  <img src="images/user3.jpg" alt="">
                </div>
                <div class="ms_test_name">
                  <h3>Frank Adler</h3>
                  <span class="cmnt_time">10 Hours Ago</span>
                </div>
              </div>
              <div class="ms_test_para">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor.</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ms_test_box">
              <div class="ms_test_top">
                <div class="ms_test_img">
                  <img src="images/user4.jpg" alt="">
                </div>
                <div class="ms_test_name">
                  <h3>Frank Adler</h3>
                  <span class="cmnt_time">10 Minutes Ago</span>
                </div>
              </div>
              <div class="ms_test_para">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor.</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ms_test_box">
              <div class="ms_test_top">
                <div class="ms_test_img">
                  <img src="images/user1.jpg" alt="">
                </div>
                <div class="ms_test_name">
                  <h3>Frank Adler</h3>
                  <span class="cmnt_time">10 Minutes Ago</span>
                </div>
              </div>
              <div class="ms_test_para">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor.</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ms_test_box">
              <div class="ms_test_top">
                <div class="ms_test_img">
                  <img src="images/user2.jpg" alt="">
                </div>
                <div class="ms_test_name">
                  <h3>Frank Adler</h3>
                  <span class="cmnt_time">10 Minutes Ago</span>
                </div>
              </div>
              <div class="ms_test_para">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor.</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ms_test_box">
              <div class="ms_test_top">
                <div class="ms_test_img">
                  <img src="images/user3.jpg" alt="">
                </div>
                <div class="ms_test_name">
                  <h3>Frank Adler</h3>
                  <span class="cmnt_time">10 Minutes Ago</span>
                </div>
              </div>
              <div class="ms_test_para">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Add Arrows -->
      <div class="swiper-button-next1 slider_nav_next"></div>
      <div class="swiper-button-prev1 slider_nav_prev"></div>
    </div>
    <!----Comment Form section Start---->
    <div class="ms_cmnt_wrapper">
      <div class="ms_heading">
        <h1>Leave A Comment</h1>
      </div>
      <div class="ms_cmnt_form">
        <form>
          <div class="ms_input_group">
            <div class="ms_input">
              <input type="text" class="form-control" placeholder="Enter Your Name Here..">
            </div>
            <div class="ms_input marger_top20">
              <input type="text" class="form-control" placeholder="Enter Your Email Here..">
            </div>
          </div>
          <div class="ms_input_group1">
            <div class="ms_input">
              <textarea name="message" class="form-control" placeholder="Enter Your Comment Here.."></textarea>
            </div>
          </div>
          <div class="ms_input_group2">
            <div class="ms_input">
              <button class="ms_btn">post your comment</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!----Featured Albumn Section Start---->
    <div class="ms_fea_album_slider padder_top5">
      <div class="ms_heading">
        <h1>You May Also Like</h1>
        <span class="veiw_all"><a href="#">view more</a></span>
      </div>
      <div class="ms_album_slider swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="ms_rcnt_box">
              <div class="ms_rcnt_box_img">
                <img src="images/album/album1.jpg" alt="">
                <div class="ms_main_overlay">
                  <div class="ms_box_overlay"></div>
                  <div class="ms_more_icon">
                    <img src="images/svg/more.svg" alt="">
                  </div>
                  <ul class="more_option">
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                  </ul>
                  <div class="ms_play_icon">
                    <img src="images/svg/play.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="ms_rcnt_box_text">
                <h3><a href="#">Bloodlust</a></h3>
                <p>Ava Cornish & Brian Hill</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ms_rcnt_box">
              <div class="ms_rcnt_box_img">
                <img src="images/album/album2.jpg" alt="">
                <div class="ms_main_overlay">
                  <div class="ms_box_overlay"></div>
                  <div class="ms_more_icon">
                    <img src="images/svg/more.svg" alt="">
                  </div>
                  <ul class="more_option">
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                  </ul>
                  <div class="ms_play_icon">
                    <img src="images/svg/play.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="ms_rcnt_box_text">
                <h3><a href="#">Time flies</a></h3>
                <p>Ava Cornish & Brian Hill</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ms_rcnt_box">
              <div class="ms_rcnt_box_img">
                <img src="images/album/album3.jpg" alt="">
                <div class="ms_main_overlay">
                  <div class="ms_box_overlay"></div>
                  <div class="ms_more_icon">
                    <img src="images/svg/more.svg" alt="">
                  </div>
                  <ul class="more_option">
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                  </ul>
                  <div class="ms_play_icon">
                    <img src="images/svg/play.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="ms_rcnt_box_text">
                <h3><a href="#">Dark matters</a></h3>
                <p>Ava Cornish & Brian Hill</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ms_rcnt_box">
              <div class="ms_rcnt_box_img">
                <img src="images/album/album4.jpg" alt="">
                <div class="ms_main_overlay">
                  <div class="ms_box_overlay"></div>
                  <div class="ms_more_icon">
                    <img src="images/svg/more.svg" alt="">
                  </div>
                  <ul class="more_option">
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                  </ul>
                  <div class="ms_play_icon">
                    <img src="images/svg/play.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="ms_rcnt_box_text">
                <h3><a href="#">Eye to eye</a></h3>
                <p>Ava Cornish & Brian Hill</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ms_rcnt_box">
              <div class="ms_rcnt_box_img">
                <img src="images/album/album5.jpg" alt="">
                <div class="ms_main_overlay">
                  <div class="ms_box_overlay"></div>
                  <div class="ms_more_icon">
                    <img src="images/svg/more.svg" alt="">
                  </div>
                  <ul class="more_option">
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                  </ul>
                  <div class="ms_play_icon">
                    <img src="images/svg/play.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="ms_rcnt_box_text">
                <h3><a href="#">Cloud nine</a></h3>
                <p>Ava Cornish & Brian Hill</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ms_rcnt_box">
              <div class="ms_rcnt_box_img">
                <img src="images/album/album6.jpg" alt="">
                <div class="ms_main_overlay">
                  <div class="ms_box_overlay"></div>
                  <div class="ms_more_icon">
                    <img src="images/svg/more.svg" alt="">
                  </div>
                  <ul class="more_option">
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                  </ul>
                  <div class="ms_play_icon">
                    <img src="images/svg/play.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="ms_rcnt_box_text">
                <h3><a href="#">Cobweb of lies</a></h3>
                <p>Ava Cornish & Brian Hill</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ms_rcnt_box">
              <div class="ms_rcnt_box_img">
                <img src="images/album/album1.jpg" alt="">
                <div class="ms_main_overlay">
                  <div class="ms_box_overlay"></div>
                  <div class="ms_more_icon">
                    <img src="images/svg/more.svg" alt="">
                  </div>
                  <ul class="more_option">
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                  </ul>
                  <div class="ms_play_icon">
                    <img src="images/svg/play.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="ms_rcnt_box_text">
                <h3><a href="#">Bloodlust</a></h3>
                <p>Ava Cornish & Brian Hill</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ms_rcnt_box">
              <div class="ms_rcnt_box_img">
                <img src="images/album/album2.jpg" alt="">
                <div class="ms_main_overlay">
                  <div class="ms_box_overlay"></div>
                  <div class="ms_more_icon">
                    <img src="images/svg/more.svg" alt="">
                  </div>
                  <ul class="more_option">
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                  </ul>
                  <div class="ms_play_icon">
                    <img src="images/svg/play.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="ms_rcnt_box_text">
                <h3><a href="#">Time flies</a></h3>
                <p>Ava Cornish & Brian Hill</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ms_rcnt_box">
              <div class="ms_rcnt_box_img">
                <img src="images/album/album3.jpg" alt="">
                <div class="ms_main_overlay">
                  <div class="ms_box_overlay"></div>
                  <div class="ms_more_icon">
                    <img src="images/svg/more.svg" alt="">
                  </div>
                  <ul class="more_option">
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                  </ul>
                  <div class="ms_play_icon">
                    <img src="images/svg/play.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="ms_rcnt_box_text">
                <h3><a href="#">Dark matters</a></h3>
                <p>Ava Cornish & Brian Hill</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ms_rcnt_box">
              <div class="ms_rcnt_box_img">
                <img src="images/album/album4.jpg" alt="">
                <div class="ms_main_overlay">
                  <div class="ms_box_overlay"></div>
                  <div class="ms_more_icon">
                    <img src="images/svg/more.svg" alt="">
                  </div>
                  <ul class="more_option">
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                  </ul>
                  <div class="ms_play_icon">
                    <img src="images/svg/play.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="ms_rcnt_box_text">
                <h3><a href="#">Eye to eye</a></h3>
                <p>Ava Cornish & Brian Hill</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Add Arrows -->
      <div class="swiper-button-next3 slider_nav_next"></div>
      <div class="swiper-button-prev3 slider_nav_prev"></div>
    </div>
    <!----New Releases Section Start---->
    <div class="ms_releases_wrapper">
      <div class="ms_heading">
        <h1>Newly Released Albums</h1>
        <span class="veiw_all"><a href="#">view more</a></span>
      </div>
      <div class="ms_release_slider swiper-container">
        <div class="ms_divider"></div>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="ms_release_box">
              <div class="w_top_song">
                <span class="slider_dot"></span>
                <div class="w_tp_song_img">
                  <img src="images/weekly/song1.jpg" alt="">
                  <div class="ms_song_overlay">
                  </div>
                  <div class="ms_play_icon">
                    <img src="images/svg/play.svg" alt="">
                  </div>
                </div>
                <div class="w_tp_song_name">
                  <h3><a href="#">Dark Alley Acoustic</a></h3>
                  <p>Ava Cornish</p>
                </div>
              </div>
              <div class="weekly_right">
                <span class="w_song_time">5:10</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ms_release_box">
              <div class="w_top_song">
                <span class="slider_dot"></span>
                <div class="w_tp_song_img">
                  <img src="images/weekly/song2.jpg" alt="">
                  <div class="ms_song_overlay">
                  </div>
                  <div class="ms_play_icon">
                    <img src="images/svg/play.svg" alt="">
                  </div>
                </div>
                <div class="w_tp_song_name">
                  <h3><a href="#">Dark Alley Acoustic</a></h3>
                  <p>Ava Cornish</p>
                </div>
              </div>
              <div class="weekly_right">
                <span class="w_song_time">5:10</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ms_release_box">
              <div class="w_top_song">
                <span class="slider_dot"></span>
                <div class="w_tp_song_img">
                  <img src="images/weekly/song3.jpg" alt="">
                  <div class="ms_song_overlay">
                  </div>
                  <div class="ms_play_icon">
                    <img src="images/svg/play.svg" alt="">
                  </div>
                </div>
                <div class="w_tp_song_name">
                  <h3><a href="#">Dark Alley Acoustic</a></h3>
                  <p>Ava Cornish</p>
                </div>
              </div>
              <div class="weekly_right">
                <span class="w_song_time">5:10</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ms_release_box">
              <div class="w_top_song">
                <span class="slider_dot"></span>
                <div class="w_tp_song_img">
                  <img src="images/weekly/song4.jpg" alt="">
                  <div class="ms_song_overlay">
                  </div>
                  <div class="ms_play_icon">
                    <img src="images/svg/play.svg" alt="">
                  </div>
                </div>
                <div class="w_tp_song_name">
                  <h3><a href="#">Dark Alley Acoustic</a></h3>
                  <p>Ava Cornish</p>
                </div>
              </div>
              <div class="weekly_right">
                <span class="w_song_time">5:10</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ms_release_box">
              <div class="w_top_song">
                <span class="slider_dot"></span>
                <div class="w_tp_song_img">
                  <img src="images/weekly/song5.jpg" alt="">
                  <div class="ms_song_overlay">
                  </div>
                  <div class="ms_play_icon">
                    <img src="images/svg/play.svg" alt="">
                  </div>
                </div>
                <div class="w_tp_song_name">
                  <h3><a href="#">Dark Alley Acoustic</a></h3>
                  <p>Ava Cornish</p>
                </div>
              </div>
              <div class="weekly_right">
                <span class="w_song_time">5:10</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Add Arrows -->
      <div class="swiper-button-next2 slider_nav_next"></div>
      <div class="swiper-button-prev2 slider_nav_prev"></div>
    </div>
    <!----Live Radio Section Start---->
    <div class="ms_radio_wrapper padder_top20">
      <div class="ms_heading">
        <h1>Live Radio</h1>
        <span class="veiw_all"><a href="#">view more</a></span>
      </div>
      <div class="ms_radio_slider swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="ms_rcnt_box">
              <div class="ms_rcnt_box_img">
                <img src="images/radio/img1.jpg" alt="">
                <div class="ms_main_overlay">
                  <div class="ms_box_overlay"></div>
                  <div class="ms_more_icon">
                    <img src="images/svg/more.svg" alt="">
                  </div>
                  <ul class="more_option">
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                  </ul>
                  <div class="ms_play_icon">
                    <img src="images/svg/play.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="ms_rcnt_box_text">
                <h3><a href="#">Top Trendings</a></h3>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ms_rcnt_box">
              <div class="ms_rcnt_box_img">
                <img src="images/radio/img2.jpg" alt="">
                <div class="ms_main_overlay">
                  <div class="ms_box_overlay"></div>
                  <div class="ms_more_icon">
                    <img src="images/svg/more.svg" alt="">
                  </div>
                  <ul class="more_option">
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                  </ul>
                  <div class="ms_play_icon">
                    <img src="images/svg/play.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="ms_rcnt_box_text">
                <h3><a href="#">New Romantic Charts</a></h3>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ms_rcnt_box">
              <div class="ms_rcnt_box_img">
                <img src="images/radio/img3.jpg" alt="">
                <div class="ms_main_overlay">
                  <div class="ms_box_overlay"></div>
                  <div class="ms_more_icon">
                    <img src="images/svg/more.svg" alt="">
                  </div>
                  <ul class="more_option">
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                  </ul>
                  <div class="ms_play_icon">
                    <img src="images/svg/play.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="ms_rcnt_box_text">
                <h3><a href="#">Dance Beats - Hip Hops</a></h3>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ms_rcnt_box">
              <div class="ms_rcnt_box_img">
                <img src="images/radio/img4.jpg" alt="">
                <div class="ms_main_overlay">
                  <div class="ms_box_overlay"></div>
                  <div class="ms_more_icon">
                    <img src="images/svg/more.svg" alt="">
                  </div>
                  <ul class="more_option">
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                  </ul>
                  <div class="ms_play_icon">
                    <img src="images/svg/play.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="ms_rcnt_box_text">
                <h3><a href="#">Workout Time</a></h3>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ms_rcnt_box">
              <div class="ms_rcnt_box_img">
                <img src="images/radio/img5.jpg" alt="">
                <div class="ms_main_overlay">
                  <div class="ms_box_overlay"></div>
                  <div class="ms_more_icon">
                    <img src="images/svg/more.svg" alt="">
                  </div>
                  <ul class="more_option">
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                  </ul>
                  <div class="ms_play_icon">
                    <img src="images/svg/play.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="ms_rcnt_box_text">
                <h3><a href="#">Best Classics Of All Time</a></h3>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ms_rcnt_box">
              <div class="ms_rcnt_box_img">
                <img src="images/radio/img6.jpg" alt="">
                <div class="ms_main_overlay">
                  <div class="ms_box_overlay"></div>
                  <div class="ms_more_icon">
                    <img src="images/svg/more.svg" alt="">
                  </div>
                  <ul class="more_option">
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                  </ul>
                  <div class="ms_play_icon">
                    <img src="images/svg/play.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="ms_rcnt_box_text">
                <h3><a href="#">Heart Broken - Soul Music</a></h3>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ms_rcnt_box">
              <div class="ms_rcnt_box_img">
                <img src="images/radio/img1.jpg" alt="">
                <div class="ms_main_overlay">
                  <div class="ms_box_overlay"></div>
                  <div class="ms_more_icon">
                    <img src="images/svg/more.svg" alt="">
                  </div>
                  <ul class="more_option">
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                  </ul>
                  <div class="ms_play_icon">
                    <img src="images/svg/play.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="ms_rcnt_box_text">
                <h3><a href="#">Dream Your Moments (Duet)</a></h3>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ms_rcnt_box">
              <div class="ms_rcnt_box_img">
                <img src="images/radio/img2.jpg" alt="">
                <div class="ms_main_overlay">
                  <div class="ms_box_overlay"></div>
                  <div class="ms_more_icon">
                    <img src="images/svg/more.svg" alt="">
                  </div>
                  <ul class="more_option">
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                  </ul>
                  <div class="ms_play_icon">
                    <img src="images/svg/play.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="ms_rcnt_box_text">
                <h3><a href="#">Until I Met You</a></h3>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ms_rcnt_box">
              <div class="ms_rcnt_box_img">
                <img src="images/radio/img3.jpg" alt="">
                <div class="ms_main_overlay">
                  <div class="ms_box_overlay"></div>
                  <div class="ms_more_icon">
                    <img src="images/svg/more.svg" alt="">
                  </div>
                  <ul class="more_option">
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                  </ul>
                  <div class="ms_play_icon">
                    <img src="images/svg/play.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="ms_rcnt_box_text">
                <h3><a href="#">Gimme Some Courage</a></h3>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ms_rcnt_box">
              <div class="ms_rcnt_box_img">
                <img src="images/radio/img4.jpg" alt="">
                <div class="ms_main_overlay">
                  <div class="ms_box_overlay"></div>
                  <div class="ms_more_icon">
                    <img src="images/svg/more.svg" alt="">
                  </div>
                  <ul class="more_option">
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                  </ul>
                  <div class="ms_play_icon">
                    <img src="images/svg/play.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="ms_rcnt_box_text">
                <h3><a href="#">Dark Alley Acoustic</a></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Add Arrows -->
      <div class="swiper-button-next4 slider_nav_next"></div>
      <div class="swiper-button-prev4 slider_nav_prev"></div>
    </div>
    <!----Main div close---->
  </div>
  <!----Footer Start---->
</div>
